body {
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  color: #333;
  font-family: "Helvetica Neue", Helvetica, "Segoe UI", Arial, freesans, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 16px;
  line-height: 1.6;
  word-wrap: break-word;
  width: 600px;
  max-width: 99%;
  box-sizing: border-box;
  padding: 30px 30px 8rem 30px;
  margin-left: auto;
  margin-right: auto;
}

body a {
  background-color: transparent;
}

body a:active,
body a:hover {
  outline: 0;
}

body strong {
  font-weight: bold;
}

body h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

body hr {
  box-sizing: content-box;
  height: 0;
}

body pre {
  overflow: auto;
}

body code,
body kbd,
body pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

body input {
  color: inherit;
  font: inherit;
  margin: 0;
}

body html input[disabled] {
  cursor: default;
}

body input {
  line-height: normal;
}

body input[type="checkbox"] {
  box-sizing: border-box;
  padding: 0;
}

body table {
  border-collapse: collapse;
  border-spacing: 0;
}

body td,
body th {
  padding: 0;
}

body * {
  box-sizing: border-box;
}

body input {
  font: 13px / 1.4 Helvetica, arial, nimbussansl, liberationsans, freesans, clean, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

body a {
  color: #4078c0;
  text-decoration: none;
}

body a:hover,
body a:active {
  text-decoration: underline;
}

body hr {
  height: 0;
  margin: 15px 0;
  overflow: hidden;
  background: transparent;
  border: 0;
  border-bottom: 1px solid #ddd;
}

body hr:before {
  display: table;
  content: "";
}

body hr:after {
  display: table;
  clear: both;
  content: "";
}

body h1,
body h2,
body h3,
body h4,
body h5,
body h6 {
  margin-top: 15px;
  margin-bottom: 15px;
  line-height: 1.1;
}

body h1 {
  font-size: 30px;
}

body h2 {
  font-size: 21px;
}

body h3 {
  font-size: 16px;
}

body h4 {
  font-size: 14px;
}

body h5 {
  font-size: 12px;
}

body h6 {
  font-size: 11px;
}

body blockquote {
  margin: 0;
}

body ul,
body ol {
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
}

body ol ol,
body ul ol {
  list-style-type: lower-roman;
}

body ul ul ol,
body ul ol ol,
body ol ul ol,
body ol ol ol {
  list-style-type: lower-alpha;
}

body dd {
  margin-left: 0;
}

body code {
  font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
  font-size: 12px;
}

body pre {
  margin-top: 0;
  margin-bottom: 0;
  font: 12px Consolas, "Liberation Mono", Menlo, Courier, monospace;
}

body:before {
  display: table;
  content: "";
}

body:after {
  display: table;
  clear: both;
  content: "";
}

body>*:first-child {
  margin-top: 0 !important;
}

body>*:last-child {
  margin-bottom: 0 !important;
}

body a:not([href]) {
  color: inherit;
  text-decoration: none;
}

body h1,
body h2,
body h3,
body h4,
body h5,
body h6 {
  margin-top: 1em;
  margin-bottom: 16px;
  font-weight: bold;
  line-height: 1.4;
}

body h1:hover .anchor,
body h2:hover .anchor,
body h3:hover .anchor,
body h4:hover .anchor,
body h5:hover .anchor,
body h6:hover .anchor {
  text-decoration: none;
}

body h1 {
  padding-bottom: 0.3em;
  font-size: 1.75em;
  line-height: 1.2;
}

body h1 .anchor {
  line-height: 1;
}

body h2 {
  padding-bottom: 0.3em;
  font-size: 1.5em;
  line-height: 1.225;
}

body h2 .anchor {
  line-height: 1;
}

body h3 {
  font-size: 1.25em;
  line-height: 1.43;
}

body h3 .anchor {
  line-height: 1.2;
}

body h4 {
  font-size: 1em;
}

body h4 .anchor {
  line-height: 1.2;
}

body h5 {
  font-size: 1em;
}

body h5 .anchor {
  line-height: 1.1;
}

body h6 {
  font-size: 1em;
  color: #777;
}

body h6 .anchor {
  line-height: 1.1;
}

body p,
body blockquote,
body ul,
body ol,
body dl,
body table,
body pre {
  margin-top: 0;
  margin-bottom: 16px;
}

body hr {
  height: 4px;
  padding: 0;
  margin: 16px 0;
  background-color: #e7e7e7;
  border: 0 none;
}

body ul,
body ol {
  padding-left: 2em;
}

body ul ul,
body ul ol,
body ol ol,
body ol ul {
  margin-top: 0;
  margin-bottom: 0;
}

body li>p {
  margin-top: 16px;
}

body dl {
  padding: 0;
}

body dl dt {
  padding: 0;
  margin-top: 16px;
  font-size: 1em;
  font-style: italic;
  font-weight: bold;
}

body dl dd {
  padding: 0 16px;
  margin-bottom: 16px;
}

body blockquote {
  padding: 0 15px;
  color: #777;
  border-left: 4px solid #ddd;
}

body blockquote>:first-child {
  margin-top: 0;
}

body blockquote>:last-child {
  margin-bottom: 0;
}

body table {
  display: block;
  width: 100%;
  overflow: auto;
  word-break: normal;
  word-break: keep-all;
}

body table th {
  font-weight: bold;
}

body table th,
body table td {
  padding: 6px 13px;
  border: 1px solid #ddd;
}

body table tr {
  background-color: #fff;
  border-top: 1px solid #ccc;
}

body table tr:nth-child(2n) {
  background-color: #f8f8f8;
}

body img {
  border: 0;
  max-width: 100%;
  box-sizing: content-box;
  background-color: #fff;
}

body .highlight {
  margin-bottom: 16px;
}

body .highlight pre,
body pre {
  padding: 16px;
  overflow: auto;
  font-size: 85%;
  line-height: 1.45;
  background-color: #f7f7f7;
  border-radius: 3px;
}

body .highlight pre {
  margin-bottom: 0;
  word-break: normal;
}

body pre {
  word-wrap: normal;
}

body pre code {
  display: inline;
  max-width: initial;
  padding: 0;
  margin: 0;
  overflow: initial;
  line-height: inherit;
  word-wrap: normal;
  background-color: transparent;
  border: 0;
}

body pre code:before,
body pre code:after {
  content: normal;
}

body kbd {
  display: inline-block;
  padding: 3px 5px;
  font-size: 11px;
  line-height: 10px;
  color: #555;
  vertical-align: middle;
  background-color: #fcfcfc;
  border: solid 1px #ccc;
  border-bottom-color: #bbb;
  border-radius: 3px;
  box-shadow: inset 0 -1px 0 #bbb;
}
